test/
.minecraft/
*.ttf
*.ttc
*.otf
*.pptx
*.ppt
*.log
*.msi
*.jar
*.unknown
*.temp
*.pptm
*.json
*.exe
*.build/
logs/
data/
hmcl/
plugins/
builds/
build/
*hmcl/
.vscode/
.venv/
.idea/
__pycache__/
python/spectrum_core/__pycache__/
python/spectrum_core/py_fallback/__pycache__/
modrinth/__pycache__/
build-*/
cfg.json.*
qt6-*/
launch.bat
config/
nuitka-crash-report.xml
temp/
upx/
spectrum-core/target/
*.pyd.new
/bazel-bin/
/bazel-out/
/bazel-testlogs/
/bazel-spectrum-minecraft-launcher/