test/
.minecraft/
*.ttf
*.ttc
*.otf
*.pptx
*.ppt
*.log
*.msi
*.jar
*.unknown
*.temp
*.pptm
*.json
*.exe
*.build/
logs/
data/
hmcl/
plugins/
builds/
build/
*hmcl/
.vscode/
.venv/
.idea/
__pycache__/
mclauncher_core/__pycache__/
modrinth/__pycache__/
versions.json
cfg.json
build-*/
cfg.json.*
qt6-*/
launch.bat
config/
nuitka-crash-report.xml
temp/
mclauncher_core/*/
upx/